.C{
    background-color: aquamarine;
    color: black;

}

.E{
    background-color: burlywood;
    
}




.B{
    background-color: aqua;
    color: black;

}





.A{
    background-color: bisque;
    color: brown;

    border-radius: 5px;

}

.D{
    background-color: cadetblue;
    color: darkgreen;
}